
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #55C1EF;
$pink: #ED5C85;
$red: #ED572D;
$orange: #F68B1F;
$yellow: #ffed4a;
$teal: #D2E4F5;
$white: #fff;
$text-primary-color: #585858;
