
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');

// Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    &__logo {
        display: inline-block;
        img {
            width: 150px;
            height: 150px;
        }
    }

    &__navbar {
      &__item {
        list-style: none;
          a {
            text-decoration: none;
            color: $white;
            font-size: 1.5rem;
            font-weight: bold;
          }
      }
    }
}
.fullpage-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page {
    display: block;
}

.page-1 {
    padding-top: 20vh;
    height: 100vh !important;
    background-color: $pink;

    position: relative;

    .blue-rec {
      position: absolute;
      margin-left: -253px;
      margin-top: -360px;
      z-index: 3;
    }

    .yellow-rec {
      position: absolute;
      margin-top: -450px;
      margin-left: -400px;
      z-index: 2;
    }
    .lblue-rec {
      position: absolute;
      margin-top: 20px;
      margin-left: -60px;
      z-index: 1;
    }


}

.page-2 {
    background-color: $orange;
}
