@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);body {
  margin: 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.navbar__logo {
  display: inline-block;
}

.navbar__logo img {
  width: 150px;
  height: 150px;
}

.fullpage-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page {
  display: block;
}

.page-1 {
  padding-top: 20vh;
  height: 100vh !important;
  background-color: #ED5C85;
}

.page-2 {
  background-color: #55C1EF;
}

